<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message...</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,600&family=Bellota:ital,wght@0,700;1,700&family=Love+Ya+Like+A+Sister&family=Recursive&family=Tangerine:wght@700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <h3 class="head text">Message For You <i class="fa fa-heart"></i></h3>
        <p class="para text">Click the button to display the message</p>
        <div class="main">
            <div class="screen">
                <% if(message){%>
                    <p class="msg"><%= message %></p>
                    <p class="left">Msg Left: <%= leftMsgNumber %></p>
                    <p class="read">Msg Read: <%= readMsgNumber%></p>
                <% }%>
            </div>
            <form action="/msg" method="get">
                <button class="btn">Message</button>
            </form>
        </div>
        <form action="/allmsg" method="get">
            <button class="secondary-btn">View all read message</button>
        </form>
    </div>
</body>
<!-- <script src="script.js"></script> -->

</html>